<% title "Posts" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for post in @posts %>
    <tr>
      <td><%= post.name %></td>
      <td><%= link_to "Edit", edit_post_path(post) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Post", new_post_path %></p>
